# Python requirements
#pip install -r system_setup/requirements_full.txt

#for conda on linux use
conda config --add channels conda-forge
conda config --append channels contango
conda install --file system_setup/requirements_full_conda.txt
pip install MySQL-python
pip install django-filters
pip install django-google-analytics-id