# requirements_webserver + more
biopython=1.74=py27h516909a_0
colour
decorator
dj-database-url
django=1.8.19=py_0
django-debug-toolbar
django-extensions
django-filter
gunicorn>=19.5.0
matplotlib
mock
more-itertools
networkx=1.11=py27_0
nose
numpy
pandas
pbr
psycopg2=2.8.2=py27h72c5cf5_0
pyparsing
python-dateutil
pytz
scikit-learn
scipy
seaborn=0.9.0=py27_0
six
sklearn
sqlparse
whitenoise
wsgiref
