# requirements_webserver + more
biopython==1.74
colour==0.1.1
decorator==4.0.2
dj-database-url==0.3.0
Django==1.8.19
django-debug-toolbar==1.3.2
django-extensions==1.5.5
django-filter==0.10.0
django-filters==0.2.1
django-google-analytics-id
gunicorn>=19.5.0
matplotlib==1.4.3
mock==1.3.0
modwsgi
more-itertools==2.2
MySQL-python==1.2.5
networkx==1.10
nose==1.3.7
numpy==1.9.2
pandas==0.16.2
pbr==1.3.0
psycopg2==2.7.0
pyparsing==2.0.3
python-dateutil==2.4.2
pytz==2015.4
scikit-learn==0.16.1
scipy==0.16.0
seaborn==0.6.0
six==1.9.0
sklearn==0.0
sqlparse==0.1.16
whitenoise==2.0.3
wsgiref==0.1.2
