gunicorn
dj-database-url
whitenoise
Django~=4.2.11
mysqlclient
biopython
colour
decorator
django-debug-toolbar
django-extensions
django-compressor
settings-overrider
mssql-django
django-filter
mock
more-itertools
networkx
nose
pbr
pyparsing
python-dateutil
pytz
six
sqlparse
numpy
tqdm
joblib
seaborn
matplotlib
scikit-learn