{% extends "base.html" %}
{% load staticfiles %}
{% load browse_filters %}

{% block includes %}
<script src="{% static 'browse/js/xhr@latest.js' %}"></script>
<script src="{% static 'browse/js/msa@0.4.6' %}"></script>
<script src="{% static 'browse/js/biojs-io-fasta.js' %}"></script>
<script src="{% static 'browse/js/biojs-io-gff.js' %}"></script>
<script src="{% static 'browse/js/msa.js' %}"></script>
<script type="text/javascript">
  var autocollapse = function() {
    var tabs = $('#analyze_results_tabs');
    var tabsHeight = tabs.innerHeight();
    
    if (tabsHeight >= 50) {
      while(tabsHeight > 50) {
        var children = tabs.children('li:not(:last-child)');
        var count = children.size();
        $(children[count-1]).prependTo('#analyze_results_collapsed');
        
        tabsHeight = tabs.innerHeight();
      }
    }
    else {
      while(tabsHeight < 50 && (tabs.children('li').size()>0)) {
        var collapsed = $('#analyze_results_collapsed').children('li');
        var count = collapsed.size();
        $(collapsed[0]).insertBefore(tabs.children('li:last-child'));
        tabsHeight = tabs.innerHeight();
      }
      if (tabsHeight>50) { // double chk height again
        autocollapse();
      }
    }
  };

  $(function() {
    $('#analyze_navbar_button').addClass('active'); 
    autocollapse(); // when document first loads
    $(window).on('resize', autocollapse); // when window is resized
  });
</script>
{% endblock %}

{% block content %}
<div class="container" style="top: 5px">
  <div class="page-header">
	  {% if not result %}
	    <h1>Analyze Sequences</h1>
	  {% else %}
	  	<h1>Upload results</small>
	  {% endif %}
  </div>
  {% if not result %}
    {% if error %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}
    <form role="search" action="{% url 'browse.views.analyze' %}" id="advanced_search_form" method="POST">
      {% csrf_token %}
      {% for field in analyze_form %}
        <div class="form-group">
          <div class="row">
            <div class="col-lg-2">
              <span class="pull-right">
                {{ field.label_tag }}
              </span>
            </div>
            <div class="col-lg-10">
              <div class="input-group">
                {% if field|fieldtype == "ChoiceField" %}
                  {% autoescape off %}
                    {{ field|simple_choice }}
                  {% endautoescape %}
                {% else %}
                  {{ field}}
                {% endif %}
              </div>
              {% if field.help_text %}
                <span class="help-text">{{ field.help_text }}</span>
              {% endif %}
            </div>
          </div>
      </div>
      {% endfor %}
    <button type="submit" class="btn btn-primary">Upload</button>
    </form>
  {% elif result %}
    {% if search_type == "hmmer" %}
      {% for seq in result.0 %}
        <div class="alert alert-success" role="alert">Sequence {{seq.0}} is most likely: {{seq.1}}</div>
      {% endfor %}
      {% include "scores.html" with hmmer_results=result.2 ids=result.1 %}
    {% endif %}
    {% if search_type == "blastp" %}
      <div class="container">
        <div class="row">
          <div role="tabpanel">
            <ul class="nav nav-tabs" id="analyze_results_tabs">
              <li id="lastTab">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  More <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" id="analyze_results_collapsed"></ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}
</div>
{% endblock %}
