{% extends "base.html" %}
{% load staticfiles %}
{% load browse_filters %}

{% block includes %}
<script src="{% static 'browse/js/xhr@latest.js' %}"></script>
<script src="{% static 'browse/js/msa@0.4.6' %}"></script>
<script src="{% static 'browse/js/biojs-io-fasta.js' %}"></script>
<script src="{% static 'browse/js/biojs-io-gff.js' %}"></script>
<script src="{% static 'browse/js/msa.js' %}"></script>
<script type="text/javascript">
  $(function() {
    $('#analyze_navbar_button').addClass('active');
  });
</script>
{% endblock %}

{% block content %}
<div class="container" style="top: 5px">
  <div class="page-header">
	  {% if not result %}
	    <h1>Analyze Sequences</h1>
	  {% else %}
	  	<h1>Results for {{ result.0 }}</small>
	  {% endif %}
  </div>
  {% if not result %}
    {% if error %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}
    <form role="search" action="{% url 'browse.views.analyze' %}" id="advanced_search_form" method="POST">
      {% csrf_token %}
      {% for field in analyze_form %}
        <div class="form-group">
          <div class="row">
            <div class="col-lg-2">
              <span class="pull-right">
                {{ field.label_tag }}
              </span>
            </div>
            <div class="col-lg-10">
              <div class="input-group">
                {% if field|fieldtype == "ChoiceField" %}
                  {% autoescape off %}
                    {{ field|simple_choice }}
                  {% endautoescape %}
                {% else %}
                  {{ field}}
                {% endif %}
              </div>
              {% if field.help_text %}
                <span class="help-text">{{ field.help_text }}</span>
              {% endif %}
            </div>
          </div>
      </div>
      {% endfor %}
    <button type="submit" class="btn btn-primary">Upload</button>
    </form>
  {% elif result %}
    <div class="alert alert-success" role="alert">Most likely: {{result.1}}</div>
    {% if result.2 %}
      <div class="alert alert-info" role="alert">Second best (Or may share characteristcs with): {{result.2}}</div>
    {% endif %}
    <div class="btn-group">
        <button type="button" class="btn btn-default" aria-expanded="false" data-toggle="modal" data-target="#scores_modal_analyze_scores">View against all profiles...</button>
    </div> 
    {% include "test.html" with page_name="analyze_sequences" blast_results=result.4 quick_msa=True analyze=True %}
    {% include "scores.html" with hmmer_results=result.3 ids=result.0|listify page_name="analyze_scores"%}
    <script type="text/javascript">
      $(function() {
        createMSA("quick_msa-analyze_sequences", "{% url 'browse.views.get_aln_and_features' %}?upload=true", "", 975, 75, false);
      });
    </script>
  {% endif %}
</div>
{% endblock %}
