{% load staticfiles %}
{% load browse_filters %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HistoneDB 2.0</title>

    <link href="{% static 'browse/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'browse/css/starter-template.css' %}" rel="stylesheet">
    <link href="{% static 'browse/css/bootstrap-table.min.css' %}" rel="stylesheet">

    <script src="{% static 'browse/js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'browse/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'browse/js/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'browse/js/bootstrap-table-cookie.js' %}"></script>

    {% block includes %} {% endblock %}

    <script>
      function open_advanced_filter(search_or_filter, table){
        if(search_or_filter == "search"){
          $("#advanced_filter_title").html("Advanced Search");
          $("#advanced_search_button").html("Search");
        }
        else if(search_or_filter == "filter"){
          $('#advanced_search_form').attr('action', '{{ request.url }}');
          $("#advanced_filter_title").html("Advanced Filter");
          $("#advanced_search_button").html("Filter");
          $("#reset_previous_searches").val("false");
        }
        $("#advanced_search_button").click(function(){
            $("#advanced_search_form").submit();
          });
        $("#advanced_filter").modal('show');
      }
      $(function () {
        $("#show_advanced_search").click(function() {
          open_advanced_filter("search", false);
        });
      });
    </script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'browse.views.browse_types' %}">HistoneDB 2.0</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'browse.views.browse_types' %}">Browse</a></li>
            <li><a href="#" id="show_advanced_search">Advanced Search</a></li>
            <li><a href="{% url 'browse.views.analyze' %}">Analyze Sequences</a></li>
            <li><a href="{% url 'browse.views.help' %}">Help</a></li>
            <form role="search" class="navbar-form navbar-right" action="{% url 'browse.views.search' %}" method="POST">{% csrf_token %}
              <input type="hidden" name="reset" id="reset_previous_searches" value="true" />
              <input type="text" name="search" class="form-control" aria-label="..." placeholder="Search (H2A.Z.2.s1)">
            </form>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    {% block content %}{% endblock %}

    <div>
      <hr>
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <a href="http://ncbi.nlm.nih.gov"><img src="{% static 'browse/img/ncbi_nlm.png' %}" width="10%" class="pull-left"/ ></a>
            </div>
            <div class="col-md-6 pull-right">
              <a href="http://www.nih.gov"><img src="{% static 'browse/img/nih.png' %}" width="10%" class="pull-right"/ ></a>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <div class="modal fade" id="advanced_filter" tabindex="-1" role="dialog" aria-labelledby="all_profiles" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="advanced_filter_title">Advanced Search</h4>
          </div>
          <div class="modal-body">
            {% for error, count in filter_errors.items %}
              <div class="alert alert-danger" role="alert">Error: {{error}} (Number of error: {{ count }}</div>
            {% endfor %}
            <form role="search" action="{% url 'browse.views.search' %}" id="advanced_search_form" method="POST">
              {% csrf_token %}
              {% for field in filter_form %}
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-2">
                      <span class="pull-right">
                        {{ field.label_tag }}
                      </span>
                    </div>
                    <div class="col-lg-10">
                      <div class="input-group">
                        {% if field|fieldtype == "BooleanField" %}
                          <input type="checkbox" class="form-control" name="{{ field.id_for_label }}" id="{{ field.id_for_label }}" {% if original_query|get:field.id_for_label  == "on" %} checked{% endif %} />
                        {% elif field|fieldtype != "ModelChoiceField" %}
                          {% autoescape off %}
                            {{ field|get_search_type:original_query }}
                          {% endautoescape %}
                          <input type="text" class="form-control" name="{{ field.id_for_label }}" id="{{ field.id_for_label }}" value="{{ original_query|get:field.id_for_label }}"/>
                        {% else %}
                          {% autoescape off %}
                            {{ field|bootchoice_choice:original_query }}
                          {% endautoescape %}
                        {% endif %}
                      </div>
                      {% if field.help_text %}
                        <span class="help-text">{{ field.help_text }}</span>
                      {% endif %}
                    </div>
                  </div>
              </div>
              {% endfor %}
              <input type="hidden" name="reset" id="reset_previous_searches" value="true" />
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="advanced_search_button" data-dismiss="modal">Search</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
