{% extends "base.html" %}
{% load staticfiles %}

{% block includes %}
<link rel="stylesheet" type="text/css" href="{% static 'browse/css/msa0.4.6.css' %}" />
<script src="{% static 'browse/js/xhr@latest.js' %}"></script>
<script src="{% static 'browse/js/msa@0.4.6' %}"></script>
<script src="{% static 'browse/js/biojs-io-fasta.js' %}"></script>
<script src="{% static 'browse/js/biojs-io-gff.js' %}"></script>
<script src="{% static 'browse/js/msa.js' %}"></script>
<script type="text/javascript">
  $(function() {
    $('#basket_navbar_button').addClass('active');
    $("#remove_all").click(function(){
      localStorage.setItem('basket', JSON.stringify([]));
      reloadBasket();
      $(".badge-basket").html("0");
      $('#sequence_table_basket').bootstrapTable('refresh');
    })
  });
  var extra_seq_params_basket = {};
  function reloadBasket(){
    var ids = JSON.parse(localStorage.getItem('basket')) || [];
    if(ids.length > 0){
      extra_seq_params_basket["id_id"] = ids.join(", ");
      extra_seq_params_basket["id_id_search_type"] = "in (comma separated)";
      console.log(extra_seq_params_basket);
    }
    else{
      extra_seq_params_basket["id_id"] = "false";
      extra_seq_params_basket["id_id_search_type"] = "is";
    }
  }
  reloadBasket();
</script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
	  <h1><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Sequence basket</h1>
  </div>
  To add sequences, use the browse or search pages and click 'Add to Basket' when you have selected your desired sequences." To remove sequences, select the sequences you want to remove and click 'Remove from Basket.' Alternatively, you can <a href="#" id="remove_all">Remove all sequences</a>.
  {% include "sequences.html" with page_name="basket" formatNoMatches="No sequences in basket." %}
</div>
{% endblock %}
