{% extends "base.html" %}
{% load staticfiles %}
{% load browse_filters %}

{% block set_filter_by_page %}
$("#id_hist_type_label").hide();
$("#id_hist_type_drop_down_button").hide();
{% endblock %}

{% block includes %}
<link rel="stylesheet" type="text/css" href="{% static 'browse/css/unitip.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'browse/css/msa0.4.6.css' %}" />
<script type="text/javascript" src="{% static 'browse/js/unitip.js' %}"></script>
<script type="text/javascript" src="{% static 'browse/js/raphael-min.js' %}"></script>
<script type="text/javascript" src="{% static 'browse/js/jsphylosvg-min.js' %}"></script>
<script src="{% static 'browse/js/xhr@latest.js' %}"></script>
<script src="{% static 'browse/js/msa@0.4.6' %}"></script>
<script src="{% static 'browse/js/biojs-io-fasta.js' %}"></script>
<script src="{% static 'browse/js/biojs-io-gff.js' %}"></script>
<script src="{% static 'browse/js/msa.js' %}"></script>
<script type="text/javascript">
  $(function() { 
    $('#browse_navbar_button').addClass('active'); 
    // for bootstrap 3 use 'shown.bs.tab', for bootstrap 2 use 'shown' in the next line
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        // save the latest tab; use cookies if you like 'em better:
        localStorage.setItem('lastPage', "{{ request.path }}");
        localStorage.setItem('lastTab', $(this).attr('href'));

        if($(e.target).attr('href') == "#variant" && $("#tree").html() == ""){
          //Load phylogenetic tree
          buildTree();
        }
    });

    // go to the latest tab, if it exists:
    var lastPage = localStorage.getItem('lastPage');
    if(lastPage && lastPage == "{{ request.path }}"){
      var lastTab = localStorage.getItem('lastTab');
      if (lastTab) {
          $('[href="' + lastTab + '"]').tab('show');
      }
      else{
        $('[href="#variant"]').tab('show');
      }
    }
    else{
      $('[href="#variant"]').tab('show');
    }

  });
  
  function buildTree(){
    $.ajax({
      url:"{% static tree_url %}",
      dataType: "xml",
      success: function(data) {
        var dataObject = {
          xml: data,
          fileSource: true
        };     

        phylocanvas = new Smits.PhyloCanvas(
          dataObject,
          'tree',
          600, 600,
          'circular'
        );

        //init(); //unitip

        treediv = $("#tree");
        //treediv.width(800);
        //treediv.height(800);
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log(textStatus);
        console.log(errorThrown)
      }
    });
  }

  {% with page_name="browse_variants_"|add:histone_type|rchar:"." %}
  var extra_seq_params_browse_variants_{{ histone_type }} = {% autoescape off %}{{ original_query|jsonify }}{% endautoescape %};
  var extra_seq_params_browse_curated_variants_{{ histone_type }} = $.extend(true, {}, extra_seq_params_browse_variants_{{ histone_type }});
  {% endwith %}
</script>
{% endblock %}

{% block content %}
<div class="container" style="margin-top:30px;">
  <div class="row">
    <div class="col-xs-3">
      <img src="{% with 'browse/img/'|add:histone_type|add:"_cropped"|add:'.png' as image_static %}{% static image_static %}{% endwith %}" width="75%" />
    </div>
    <div class="col-xs-9">
      <div class="row">
        <div class="col-xs-12">
          <h1>
            <a href="{% url 'browse.views.browse_types' %}"><span class="glyphicon glyphicon-home" /> </a> /
            Histone type: {{ histone_type }}
          </h1>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="container">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation"><a href="#variant" aria-controls="variant" role="tab" data-toggle="tab">Summary</a></li>
          <li role="presentation"><a href="#curated" aria-controls="curated" role="tab" data-toggle="tab">Curated Sequences</a></li>
          <li role="presentation"><a href="#seed" aria-controls="seed" role="tab" data-toggle="tab">Curated Alignments</a></li>
          <li role="presentation"><a href="#sequences" aria-controls="sequences" role="tab" data-toggle="tab">Automatically Extracted Sequences</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane" id="variant">
            <div class="row">
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="row center-block">

                    <h4 class="page-header">Description</h4>

                    {{ histone_description }} <br >
                    {% if alternate_names %}
                    <b>Alternate names:</b> {{ alternate_names }}
                    {% endif %}



                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <div class="row center-block">
                  <div class="col-xs-12">
                    <h4 class="page-header">Histone Variants</h4>
                    <div class="list-group" style="height:100%;">
                      {% for variant, num_curated, num_all, alternate_names, tax_span, color in variants %}
                        <a class="list-group-item"
                           href="{% url 'browse.views.browse_variant' histone_type variant ''%}">
                          <span class="badge variant-count-badge" style="background-color:{{ color }};" title="# of sequences in curated set: {{ num_curated }}
# of sequences in total set: {{ num_all }}">{{ num_curated }} / {{ num_all }}</span>
                          <b>{{ variant }}</b> <br />
                              <small>Alternate names: {% if alternate_names or alternate_names != "" %}{{ alternate_names }}{% else %}<i>None</i>{% endif %}</small><br />
                              <small>Taxonomic span: {{ tax_span }}</small>
                        </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-8">
                <h4 class="page-header">Phylogenetic tree of variants (curated sequences)</h4>
                <div id="tree"></div>
                Above, alignments of curated sequences from all {{ histone_type }} variants have been combined to construct the phylogenetic tree. Most of the variants cluster in separate clades. Click on the taxa name to learn more about its variant.
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="curated">
            {% include "sequences.html" with page_name="browse_curated_variants_"|add:histone_type|rchar:"." quick_msa=True curated=True %}
          </div>
          <div role="tabpanel" class="tab-pane" id="sequences">
            {% include "sequences.html" with page_name="browse_variants_"|add:histone_type|rchar:"." %}
          </div>
          <div role="tabpanel" class="tab-pane" id="seed">
            {% include "seed.html" with msa_id="browse" msa_url=seed_url|add:"?limit=500&consensus=limit" download_url=seed_url|add:"?download=true" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
