{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container" style="margin-top:50px;">
  <div class="row">
    <div class="col-xs-3">
      <img src="{% with 'server/img/'|add:histone_type|add:'.png' as image_static %}{% static image_static %}{% endwith %}" width="75%" />
    </div>
    <div class="col-xs-9">
      <div class="row">
        <div class="col-xs-12">
          <h1>{{ histone_type }}</h1>
        </div>
        <div class="col-xs-12">
          {{ histone_description }}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#variant" aria-controls="variant" role="tab" data-toggle="tab">By Variant</a></li>
          <li role="presentation"><a href="#organism" aria-controls="organism" role="tab" data-toggle="tab">By Organism</a></li>
          <li role="presentation"><a href="#sequences" aria-controls="sequences" role="tab" data-toggle="tab">All Sequences</a></li>
          <li role="presentation"><a href="#seed" aria-controls="seed" role="tab" data-toggle="tab">Seed Alignments</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="variant">
            {% with 'server/trees/'|add:histone_type|add:'.xml' as xml_static %}{% static xml_static %}{% endwith %}
            <div id="tree"></div>
          </div>
          <div role="tabpanel" class="tab-pane" id="organism">
            <div id="sunburst"></div>
            <script type="text/javascript">
              var data = ""
              //d3 starburst
            </script>
          </div>
          <div role="tabpanel" class="tab-pane" id="sequences">
            {% include "sequences.html" %}
          </div>
          <div role="tabpanel" class="tab-pane" id="seed">
            TEST
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="{% static 'server/sunburst.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    //Load tree
    $.ajax({
      url : "{% static 'server/trees/5-coffee.json' %}",
      dataType: "text",
      success : function (data) {
      	var dataObject = {
          json: data
        };  
        phylocanvas = new Smits.PhyloCanvas(
          dataObject,
          'tree', 
          800, 800,
          'circular'
        );
        init();
      },
      error : function(jqXHR, textStatus, errorThrown) {
      	alert("ERROR: "+textStatus+errorThrown);
      }
    });

    //Load sunburst
    draw_sunburst("/data/type/json/{{ histone_type }})/species", "#sunburst");
  });
</script>


</script>
{% endblock %}
