{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container" style="margin-top:30px;">
  <div class="row">
    <div class="col-xs-3">
      <img src="{% with 'browse/img/'|add:core_type|add:'.png' as image_static %}{% static image_static %}{% endwith %}" width="75%" />
    </div>
    <div class="col-xs-9">
      <div class="row">
        <div class="col-xs-12">
          <h1>{{ variant }}</h1>
        </div>
        <div class="col-xs-12">
          {{ description }}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#sequences" aria-controls="sequences" role="tab" data-toggle="tab">All Sequences</a></li>
          <li role="presentation"><a href="#seed" aria-controls="seed" role="tab" data-toggle="tab">Seed Alignments</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="sequences">
            {% include "test.html" %}
          </div>
          <div role="tabpanel" class="tab-pane" id="seed">
            <!-- This tab might not exist here just for testing -->
            {% include "seed.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
