{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="#background">Background</a></li>
        <li role="presentation"><a href="#nomenclature">Nomenclature</a></li>
        <li role="presentation"><a href="#references">References</a></li>
        <li role="presentation"><a href="#cite">How To Cite</a></li>
      </ul>
    </div>
    <div class="col-xs-10">
      <h2 id="background">Background</h2>
      Histones proteins form the core of the nucleosome, which is primaily thought to only be important structurally so the DNA can fit inside the nucleaus and to control gene expression. However, as we are slowly starting to realize, nucleosmes have a range of different functions and can change by the different histones variants....

      <h2 id="nomencalture">Nomenclature</h2>
      Histone variants need to be .. <br /><br />
      [desc] [prefix]<font color="red">TYPE</font>.<font color="blue">VARIANT</font>.<font color="orange">GENE</font>.<font color="pink">sSPLICE</font> <br />
      <ol>
        <li><font color="red">TYPE</font> = Core histone name (H2A, H2B, H3, H4, H1)</li>
        <li><font color="blue">VARIANT</font>:
          <ul>
            <li>Letter: "Structurally distinct monophyletic clade of a histone family", exception is H2A.X</li>
            <li>Number: Species-specific variant, not defined by phylogeny but clear orthology</li>
          </ul>
        </li>
        <li><font color="orange">GENE</font> = Gene number, or more specially phylogenetic branch point order (Optional if unknown)</li>
        <li><font color="pink">SPLICE</font> = Splice isoform index, or paralogous sequences, preceded by ‘s’ character (Optional if unknown)</li>
      </ol>
      prefix = Structurally distinct clade of core histone (<b>macro</b>H2A, <b>sub</b>H2B, <b>cen</b>H3)<br />
      desc = Specify features about variant (location, species)<br />
      Note:<br />
      <ul>
        <li>Capitalization</li>
        <li>Periods (Phylogenetic branch points)</li>
        <li>Spaces (Separate description from variant description)</li>
      </ul>
      <div class="container text-center">Example: <font color="red">H2A</font>.<font color="blue">Z</font>.<font color="orange">1</font>.<font color="pink">s1</font></div>
    </div>
  </div>
</div>
{% endblock %}
