{% load browse_filters %}

<div class="modal-body">
  <div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Classified Variant</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Above Variant Threshold</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Below Variant Threshold</button>
  </div>
</div>
<div id="scores_table_div"></div>

<script type="text/javascript">
function scoreCellStyle(value, row, index) {
  //console.log(index);
  console.log(row);
  console.log(value);
  //console.log(row.data.this_classified);
  id = "";
  for (var key in row){
    if(row[key] == value){
      id = key;
      break;
    }
  }
  if(row.data.this_classified[id] == true){
    return {classes: "success"};
  }
  else if(row.data.above_threshold[id] == true){
    return {classes: "info"};
  }
  else{
    return {classes:"danger"};
  }
}

function make_scores_table(table_div, ids, width) {
  table_div.empty();
  table_div.append("<table id='scores_table' style='width:"+width+";overflow: auto;'></table>");
  columns = [{field:'variant', title:''}];
  params = "?";
  for (var i = 0; i < ids.length; i++) {
    columns.push({field:ids[i], title:ids[i], cellStyle:scoreCellStyle});
    params += "id="+ids[i]+"&"
  }
  $('#scores_table').bootstrapTable({
      {% if hmmer_results %}
      data: {% autoescape off %}{{ hmmer_results|jsonify }}{% endautoescape %},
      {% else %}
      url: "{% url 'browse.views.get_all_scores' %}"+params.substring(0, params.length-1),
      {% endif %}
      columns: columns,
  });
}

{% if hmmer_results and ids %}
$ids = {% autoescape off %}{{ ids|jsonify }}{% endautoescape %};
make_scores_table($("#scores_table_div"), $ids, "100%");
{% endif %}
</script>
