{% extends "base.html" %}
{% load staticfiles %}

{% block includes %}
<script src="{% static 'browse/js/xhr@latest.js' %}"></script>
<script src="{% static 'browse/js/msa@0.4.6' %}"></script>
<script src="{% static 'browse/js/biojs-io-fasta.js' %}"></script>
<script src="{% static 'browse/js/biojs-io-gff.js' %}"></script>
<script src="{% static 'browse/js/msa.js' %}"></script>
<script type="text/javascript">
  $(function() {
    $('#search_navbar_button').addClass('active');
  });
</script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
	  {% if not result %}
	    <h1>Search for histone sequences</h1>
	  {% else %}
	  	<h1>Search results <small><a href="#">edit query</a></small>
	  {% endif %}
  </div>
  {% if not result %}
	<form action="{% url 'browse.views.search' %}" method="post">{% csrf_token %}
      	<div class="modal-body">
        {{ search_form.as_p }}
      	</div>
      	<div class="modal-footer">
        	<button type="button" class="btn btn-primary">Search</button>
      	</div>
    </form>
  {% else %}
  	{% include "test.html" with page_name="search-"|add:current_query %}
  {% endif %}
</div>
{% endblock %}
