{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="page-header">
	  {% if not result %}
	    <h1>Search for histone sequences</h1>
	  {% else %}
	  	<h1>Search results <small><a href="#">edit query</a></small>
	  {% endif %}
  </div>
  {% if not result %}
	<form action="#" method="post">{% csrf_token %}
      	<div class="modal-body">
        {{ search_form.as_p }}
      	</div>
      	<div class="modal-footer">
        	<button type="button" class="btn btn-primary">Search</button>
      	</div>
    </form>
  {% else %}
  	{% include "sequences.html" %}
  {% endif %}
</div>
{% endblock %}
