{% extends "base.html" %}
{% load staticfiles %}
{% load browse_filters %}

{% block includes %}
<link rel="stylesheet" type="text/css" href="{% static 'browse/css/msa0.4.6.css' %}" />
<script src="{% static 'browse/js/xhr@latest.js' %}"></script>
<script src="{% static 'browse/js/msa@0.4.6.js' %}"></script>
<script src="{% static 'browse/js/biojs-io-fasta.js' %}"></script>
<script src="{% static 'browse/js/biojs-io-gff.js' %}"></script>
<script src="{% static 'browse/js/msa.js' %}"></script>
<script type="text/javascript">
  $(function() {
    $('#search_navbar_button').addClass('active');

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        // save the latest tab; use cookies if you like 'em better:
        localStorage.setItem('lastPage', "{{ request.path }}");
        localStorage.setItem('lastTab', $(this).attr('href'));
        console.log($(e.target).attr("href"));
        if($(e.target).attr('href') == "#taxonomy"){
          drawSunburst("{% url 'browse.views.get_sunburst_json' %}?"+$.param(extra_seq_params_search));
          console.log("Called");
        }
    });

    // go to the latest tab, if it exists:
    var lastPage = localStorage.getItem('lastPage');
    if(lastPage && lastPage == "{{ request.path }}"){
      var lastTab = localStorage.getItem('lastTab');
      if (lastTab) {
          $('[href="' + lastTab + '"]').tab('show');
      }
    }
  });
  var extra_seq_params_search = {% autoescape off %}{{ original_query|jsonify }}{% endautoescape %};
</script>
{% endblock %}

{% block content %}
<div class="container">
  {% if not result %}
    <div class="page-header">
        <h1>Search for histone sequences</h1>
    </div>
  	<form action="{% url 'browse.views.search' %}" method="post">{% csrf_token %}
      	<div class="modal-body">
        {{ search_form.as_p }}
      	</div>
      	<div class="modal-footer">
        	<button type="button" class="btn btn-primary">Search</button>
      	</div>
    </form>
  {% else %}
    <div class="page-header">
      <h1>Search for histone sequences<span id="taxonomy_title"></span></h1>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="container">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#sequences" id="sequences_tab" aria-controls="sequences" role="tab" data-toggle="tab">Search Results</a></li>
            <li role="presentation"><a href="#taxonomy" aria-controls="taxonomy" role="tab" data-toggle="tab">Taxonomy Distribution</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="sequences">
              {% include "sequences.html" with page_name="search" %}
            </div>
            <div role="tabpanel" class="tab-pane" id="taxonomy">
              {% include "sunburst.html" with page_name="search" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
