{% load staticfiles %}

<div class={% if "modal" in msa_id %}"modal-body"{% else %}"container"{% endif %} style="margin-top:5px;{% if "modal" in msa_id %}overflow-y:auto;{% endif %}">
	<div class="row">
		<div class="col-xs-10">
			Features characteristic for a given histone type are shown under the consensus sequence. Keys: red - 80% identical, blue - 50% identical columns. X-denotes ambigous positions in consensus sequence.
		</div>
		<div class="col-xs-2">
			<div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
				<div class="btn-group">
					<div class="btn-group">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					    <span class="glyphicon glyphicon-export"></span> Export <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
{#					  	<li class="disabled"><a href="#" id="msa_export_pdf_msa_div_{{ msa_id }}">Save as PDF (TeXShade)</a></li>#}
					  	<li class="disabled"><a href="#" id="msa_export_fasta_msa_div_{{ msa_id }}">Save FASTA</a></li>
					  	<li class="disabled"><a href="#" id="msa_export_features_msa_div_{{ msa_id }}">Save Features (GFF)</a></li>
					  </ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top:5px; {% if msa_id == "modal" %}overflow: auto;{% endif %}">
		<div class="col-xs-12">
			{% if "modal" not in msa_id %}<div id="container">{% endif %}
			<div id='msa_div_{{ msa_id }}'></div>
			{% if "modal" not in msa_id %}</div>{% endif %}
		</div>
	</div>
</div>

{% if msa_url %}
<script type="text/javascript">
createMSA("msa_div_{{ msa_id }}", "{% autoescape off %}{{ msa_url }}{% endautoescape %}", "{{ download_url }}", 975, 500, true);
</script>
{% endif %}
