{% load staticfiles %}

<div class="container" style="margin-top:5px;">
	<div class="row">
		<div id="col-xs-12">
			<div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
				<div class="btn-group">
					<div class="btn-group">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					    <span class="glyphicon glyphicon-export"></span> Export <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
					  	<li><a href="#" id="msa_export_pdf">Save as PDF (TeXShade)</a></li>
					  	<li><a href="#" id="msa_export_fasta">Save FASTA</a></li>
					  	<li><a href="#" id="msa_export_features">Save Features (GFF)</a></li>
					  </ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top:5px;">
		<div class="col-xs-12">
			<div class="container"><div id='snippetDiv'></div></div>
		</div>
	</div>
</div>

<script type="text/javascript">
var $pdf_button = $('#msa_export_pdf'),
    $fasta_button = $('#msa_export_fasta'),
    $gff_button = $('#msa_export_features');

$pdf_button.click(function() {
	document.location.href = "{% static seed_file %}"+".pdf";
});

$fasta_button.click(function() {
	document.location.href = "{% static seed_file %}"+".fasta";
});

$gff_button.click(function() {
	document.location.href = "{% static seed_file %}"+".gff";
});
</script>

<script type="text/javascript">
createMSA("snippetDiv", "{% static seed_file %}", 975, true);
/*$(document).ready(function() {
	var yourDiv = document.getElementById('snippetDiv');

	var msa = require("msa");
	var fasta = require("biojs-io-fasta");

	var msaDiv = document.createElement('div');
	yourDiv.appendChild(msaDiv);

	var opts = {
	  el: msaDiv
	}
	opts.vis = {
	  conserv: false,
	  overviewbox: false,
	  seqlogo: true,
	  markers: false,
	  leftHeader: false,
	  labelName: true,
	  labelId: false
	};
	opts.zoomer = {
	  labelNameLength: 160,
	  alignmentHeight: 500,
	  alignmentWidth: 975,
	};

	// init msa
	var m = msa(opts);

	//load sequences
	fasta.read("{% static seed_file %}", function(err, seqs){
    	m.seqs.reset(seqs);
    	m.render();
	});
});*/
</script>
