{% load staticfiles %}

<div class={% if msa_id == "modal" %}"modal-body"{% else %}"container"{% endif %} style="margin-top:5px;{% if msa_id == "modal" %}overflow-y:auto;{% endif %}">
	<div class="row">
		<div class="col-xs-10">
			Features characteristic for a given histone type are shown under the consensus sequence. Key: Red is 80% conserved, blue is 50% conserved, and green highlights key arginines that may interact with the minor groove.
		</div>
		<div class="col-xs-2">
			<div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
				<div class="btn-group">
					<div class="btn-group">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					    <span class="glyphicon glyphicon-export"></span> Export <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
					  	<li class="disabled"><a href="#" id="msa_export_pdf_msa_div_{{ msa_id }}">Save as PDF (TeXShade)</a></li>
					  	<li class="disabled"><a href="#" id="msa_export_fasta_msa_div_{{ msa_id }}">Save FASTA</a></li>
					  	<li class="disabled"><a href="#" id="msa_export_features_msa_div_{{ msa_id }}">Save Features (GFF)</a></li>
					  </ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top:5px; {% if msa_id == "modal" %}overflow: auto;{% endif %}">
		<div class="col-xs-12">
			{% if msa_id != "modal" %}<div id="container">{% endif %}
			<div id='msa_div_{{ msa_id }}'></div>
			{% if msa_id != "modal" %}</div>{% endif %}
		</div>
	</div>
</div>

{% if msa_url %}
<script type="text/javascript">
createMSA("msa_div_{{ msa_id }}", "{% autoescape off %}{{ msa_url }}{% endautoescape %}", "{{ download_url }}", 975, 500);
</script>
{% endif %}
