<div id="sequence_toolbar">
    <div class="btn-group" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expander="fasle">View/Download Selected <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" id="msa_modal_button">View alignment/secondary structure</a></li>
                <li><a href="#" id="scores_modal_button">View against all profiles</a></li>
                <li><a href="#" id="download_fasta">Download FASTA</a></li>
                <li><a href="#" id="entrez">View in Entrez</a></li>
            </ul>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" id="show_advanced_filter"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Advanced Filter</button>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-disabled" id="reset_filter"><span class="glyphicon glyphicon-times" aria-hidden="true"></span> Reset</button>
        </div>
    </div>
</div>

<div class="container" style="margin-top:5px;">
    <table id="sequence_table"
           data-toggle="table"
           data-url="{% url 'browse.views.get_sequence_table_data' %}"
           data-show-columns="true"
           data-search="true"
           data-show-toggle="true"
           data-pagination="true"
           data-side-pagination="server"
           data-page-list="[5, 10, 20, 50, 100, 200]"
           data-click-to-select="true"
           data-sort-name="score"
           data-sort-order="desc"
           data-show-refresh="true"
           data-toolbar="#sequence_toolbar">
        <thead>
            <tr>
                <th data-field="state" data-checkbox="true"></th>
                <th data-field="gi" data-align="" data-sortable="true">GI</th>
                <th data-field="variant" data-align="" data-sortable="true">Variant</th>
                <th data-field="gene" data-align="" data-sortable="true">Gene</th>
                <th data-field="splice" data-align="" data-sortable="true">Splice</th>
                <th data-field="species" data-align="" data-sortable="true">Species</th>
                <th data-field="header" data-align="" data-sortable="true">Header</th>
                <th data-field="score" data-align="" data-sortable="true">Score</th>
                <th data-field="evalue" data-align="" data-sortable="true">E-value</th>
            </tr>
        </thead>
    </table>
</div>

<div class="modal fade" id="msa_modal" tabindex="-1" role="dialog" aria-labelledby="seqs" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="seqs">Sequence(s)</h4>
      </div>
      <div class="modal-body">
        <div id="msa_modal_sniper"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="scores_modal" tabindex="-1" role="dialog" aria-labelledby="all_profiles" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="all_profiles">All Profile Scores</h4>
      </div>
      <div class="modal-body">
        <div class="btn-group">
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Classified Variant</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Above Variant Threshold</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Below Variant Threshold</button>
        </div>
        <div id="bootstrap_table_div"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
var $table = $('#sequence_table'),
    $msa_modal_button = $('#msa_modal_button'),
    $scores_modal_button = $('#scores_modal_button'),
    $download_fasta = $('#download_fasta')
    $entrez = $('#entrez');

    $(function () {
        $("#show_advanced_filter").click( function (){
          open_advanced_filter("filter", $table);
        });

        function getSelectedIDs(){
          selections = $table.bootstrapTable('getSelections');
          var ids = [];
          for (var i = 0; i < selections.length; i++) {
            ids.push(selections[i].gi);
          }
          if(ids.length==0){
            alert("You must select one ore more sequences.");
            return;
          }
          return ids;
        };

        $msa_modal_button.click(function() {
          ids = getSelectedIDs();
          params = "?";
          for (var i = 0; i < ids.length; i++) {
            params += "id="+ids[i]+"&"
          }

          var yourDiv = document.getElementById('msa_modal_sniper');
          yourDiv.innerHTML = "";

          /* global yourDiv */
          var msa = require("msa");

          var msaDiv = document.createElement('div');
          yourDiv.appendChild(msaDiv);

          var opts = {
            el: msaDiv
          }
          opts.vis = {
            conserv: false,
            overviewbox: false,
            seqlogo: true,
            markers: false,
            leftHeader: false,
            labelName: true,
          };
          opts.zoomer = {
            alignmentWidth: 418, //$('#msa_modal').width()
          };

          // init msa
          var m = msa(opts);
          $.ajax({
            url:"{% url 'browse.views.get_all_sequences' %}"+params.substring(0, params.length-1),
            dataType: "json",
            success: function(seqs) {
              console.log(seqs)
              m.seqs.reset(seqs);
              m.render();
            },
            error: function(jqXHR, textStatus, errorThrown) {
              console.log(textStatus);
              console.log(errorThrown)
            }
          });

          var colorConservation = {}

          // the init function is only called once
          colorConservation.init = function(){
            // you have here access to the conservation or the sequence object
            this.cons = this.opt.conservation();
            this.cons80 = true;
            this.cons50 = true;
          }

          colorConservation.run = function(letter,opts){
            if(this.cons80 && this.cons[opts.pos] > 0.8){
              return "red";
            }
            else if(this.cons50 && this.cons[opts.pos] > 0.5){
              return "blue";
            }
            else{
              return "#000";
            }
          };

          m.g.colorscheme.addDynScheme("colorConservation", colorConservation);
          m.g.colorscheme.set("scheme", "colorConservation");
          $('#msa_modal').modal('show');
        });
        
        function cellStyle(value, row, index) {
          //console.log(index);
          console.log(row);
          console.log(value);
          //console.log(row.data.this_classified);
          id = "";
          for (var key in row){
            if(row[key] == value){
              id = key;
              break;
            }
          }
          if(value == "none" || id == ""){
            return {classes:"active"};
          }
          else if(row.data.this_classified[id] == true){
            return {classes: "success"};
          }
          else if(row.data.above_threshold[id] == true){
            return {classes: "info"};
          }
          else{
            return {classes:"danger"};
          }
        }

        $scores_modal_button.click(function() {
          $('#bootstrap_table_div').empty();
          console.log($('#bootstrap_table_div').innerHTML)
          $('#bootstrap_table_div').append("<table id='scores_table' style='overflow: auto;'></table>");
          ids = getSelectedIDs();
          columns = [{field:'variant', title:''}];
          params = "?";
          for (var i = 0; i < ids.length; i++) {
            columns.push({field:ids[i], title:ids[i], cellStyle:cellStyle});
            params += "id="+ids[i]+"&"
          }
          $('#scores_table').bootstrapTable({
              url: "{% url 'browse.views.get_all_scores' %}"+params.substring(0, params.length-1),
              columns: columns,
          });
          $('#scores_modal').modal('show');
        });

        $download_fasta.click(function() {
          ids = getSelectedIDs();
          params = "?";
          for (var i = 0; i < ids.length; i++) {
            params += "id="+ids[i]+"&"
          }
          params += "format=fasta&download=true";
          document.location.href = "{% url 'browse.views.get_all_sequences' %}"+params;
        });

        $entrez.click(function () {
            ids = getSelectedIDs();
            url = "http://www.ncbi.nlm.nih.gov/protein/?term=";
            for (var i = 0; i < ids.length; i++) {
              url += ids[i]+"[uid]+OR+"
            }
            document.location.href = url.substring(0, url.length-4);
        });
    });
</script>
